[Unit]
Description=MongoDB Infra Learning Platform Backend
After=network.target mongod.service

[Service]
Type=simple
User=mongo-app
WorkingDirectory=/opt/MongoDB-Infrastructure-Platform/backend
EnvironmentFile=/opt/MongoDB-Infrastructure-Platform/configs/backend.env
ExecStart=/opt/MongoDB-Infrastructure-Platform/backend/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

